body {
  background: #f7f3ef;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
}

button {
  background-color: #7a4a2e;
    border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  opacity: 0.9;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
